{% extends 'one_column_base.html' %}

{% block one-col %}

<div class="subcolumn subcolumn-1">
<h3>Log in</h3>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="form-type" value="login">
    {{ login_form.as_p }}
    <input type="submit" value="Log in" />
</form>
</div>

<div class="subcolumn subcolumn-2">
<h3>Sign up</h3>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="form-type" value="signup">
    {{ new_user_form.as_p }}
    <input type="submit" value="Sign up" />
</form>
</div>

{% endblock one-col %}
