{% extends 'one_column_base.html' %}

{% block one-col %}

    <h3>About</h3>
    
    <p class="pullquote">"This is my [web bookmarks keeper]. <strong>There are many like it</strong>, but this one is mine."</p>
    
    <p>tamli is yet another social bookmarking application for storing interesting URLs from around the web. </p>
    
    <p>tamli is open source, so anyone can <a href="https://github.com/aldeka/gentlerobots">download the code</a>, modify it, and put it on their own server. </p>
    
    <p>tamli is also federated, which means that any tamli installation can talk to and share bookmarks with any other.</p>
    
    <p>If you don't have a computer of your own that you can use as a server, you can create an account on this tamli installation, just like any other software-as-a-service web application. If you do have a server, though, you can install your own tamli instance and have 100% control of your bookmarks data, while still being able to share bookmarks with your friends, acquaintances, role models, and frenemies via their own tamli instances. Neat, eh?</p>
    
    <p>The name of this application, tamli, is an acronym taken from part of <a href="http://en.wikipedia.org/wiki/Rifleman's_Creed">the US Marine Corp Rifleman's Creed</a>.</p>
    
    <p>There are many social bookmarking applications on the web, but this one is mine. And yours too, if you like!</p>
    
{% endblock one-col %}
