{% extends 'two_column.html' %}

{% block main %}
    <ul id="bookmark-nav">
        <li><a href="{% url bmark_list_modal 'all' %}" {% if mode == "all" %}class="active"{% endif %} >all bookmarks</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url bmark_list_modal 'subs' %}" {% if mode == "subs" %}class="active"{% endif %}>my bookmarks and subscriptions</a></li>
        <li><a href="{% url bmark_list_modal 'mine' %}" {% if mode == "mine" %}class="active"{% endif %}>just my bookmarks</a></li>
        {% endif %}
    </ul>
    {% if bookmarks %}
    <ul class="bookmark-list">
    {% for bookmark in bookmarks %}
        <li id="bookmark-{{ bookmark.id }}" class="bookmark">
            {% if bookmark.owner.human and user.is_authenticated and user.username == bookmark.owner.human.username %}
                <span id="delete-{{ bookmark.id }}" class="delete clickable">x</span>
            {% endif %}
            <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
            <span class="metadata">
            {% if not mine %}
             -- posted by 
                {% if bookmark.owner.human %}
                    <a href="{% url bmark_list_by_user bookmark.owner.human.username %}">{{ bookmark.owner.human.username }}</a>
                {% else %}
                    {{ bookmark.owner.username }}
                {% endif %}
                {% if user.is_authenticated and bookmark.owner != user.human.address and bookmark.owner not in subscriptions %}
                <a class="subscribe-link" href="{% url add_subscription %}">subscribe</a>
                {% endif %}
            {% endif %} -- added {{ bookmark.time.date|date:"m.d.y" }}</span>
            
            {% if bookmark.description %}
                <p class="description">{{ bookmark.description }}</p>
            {% endif %}
            
            {% if bookmark.tags %}
                <ul class="tags">
                {% for tag in bookmark.tags.all %}
                    <li class="tag"><a href="{% url bmark_list_by_tag tag.name %}">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <h3>No bookmarks found, sorry :(</h3>
    {% endif %}
{% endblock main %}
