{% extends 'one_column_base.html' %}

{% block one-col %}
<h3>add new subscription:</h3>
{% if form %}
    <form id="new-subscription" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form-type" value="new-subscription">
        {{ form.as_p }}
        <p><input type="submit" value="submit" class="button"/></p>
    </form>
{% endif %}

<h3>subscriptions:</h3>

     <ul class="subscription-list">
    {% for subscription in subscriptions %}
        <li id="subscription-{{ subscription.id }}" class="subscription">
        {% if subscription.domain == 'localhost' %}
            <a href="{% url bmark_list_by_user subscription.username %}">{{ subscription.username }}@{{ subscription.domain }}</a>
        {% else %}
            {{ subscription.username }}@{{ subscription.domain }}
        {% endif %} 
        <span id="delete-{{ subscription.id }}" class="delete clickable">x</span>
        </li>
    {% endfor %}
    </ul>
    
{% endblock one-col %}
