{% extends 'base.html' %}

{% block content %}

    <div id="sidebar">
        {% block sidebar %}
            {% if user.is_authenticated and form %}
            <div id="add-new-bookmark-widget" class="widget">
                <h3>add a bookmark:</h3>
                    <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit :-)" id="big-submit-button" class="button"/>
                    </form>
            </div>
            {% endif %}
            <div class="widget" id="tag-widget">
                <h3>tags:</h3>
                <ul>
                {% for tag in tags %}
                    {% if tag.bookmark_set.count %}
                    <li><a href="{% url bmark_list_by_tag tag.name %}">{{ tag.name }} ({{ tag.bookmark_set.count }})</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endblock sidebar %}
    </div>
    <div id="main">
        {% block main %}
        {% endblock main %}
    </div>
    
{% endblock content %}
